.App {
  text-align: center;
    justify-content: center;
    background-color:#1E2152;
    font-family: sans-serif;
    color: black;
     scroll-behavior:smooth;
 
  overflow: hidden;
     
}

.editor{
  resize:none;
 
 border-style:outset;
 border-radius: 5px;
 border-width: 9px;
 box-shadow:rgb(0, 0, 0);

}
textarea{
  resize:none;
  border: none;
    outline: none;
   caret-color: rgba(0,0,0,0);

  width:95%;
  margin:5px 0;
  padding:2px;
  box-sizing: content-box;
}
.info-display > *{
  margin-left: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 0px;
  

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
